#zeppelin {
	
	color: #ccc;
	background: rgba(0, 0, 0, .9);
	padding: 10px;
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
	
	*,
	*::before,
	*::after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
	a {
		
		&,
		&:visited {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px dotted #555;
		}
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: #fff;
			border-color: inherit;
		}
		
	}
	
	h6 {
		
		text-indent: -999em;
		white-space: nowrap;
		width: 150px;
		height: 20px;
		margin: 0;
		position: absolute;
		top: 10px;
		left: 10px;
		overflow: hidden;
		
		a {
			
			width: 100%;
			height: 100%;
			background: {
				image: url(../images/trg-300x40-light.png);
				repeat: no-repeat;
				size: 150px 20px;
			}
			border: 0; // Remove border added via global href styles above.
			display: block;
			
			&:active,
			&:focus { outline: none; }
			
		}
		
	}
	
	p {
		
		font: {
			family: Cambria, Georgia, serif;
			size: 14px;
		}
		text: {
			indent: 160px; // Width of desktop png + 10px.
			transform: uppercase;
		}
		letter-spacing: .1em;
		line-height: 22px; // Height of desktop and mobile png + 2px (for text wrap vertical spacing).
		margin: 0;
		
		&::before {
			content: "";
			border-left: 2px solid #666;
			padding-left: 10px;
		}
		
	}
	
	&.z_light {
		
		color: #666;
		background: rgba(255, 255, 255, .75);
		
		h6 a { background-image: url(../images/trg-300x40-dark.png); }
		
		p::before { border-color: #ccc; }
		
		a {
			
			&,
			&:visited { border-color: #999; }
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active {
				color: #000;
				border-color: inherit;
			}
			
		}
		
	}
	
	@media screen and (max-width: 640px) {
		
		h6 {
			
			& {
				width: 35px;
				height: 20px;
			}
			
			a {
				background: {
					image: url(../images/rg-70x40-light.png);
					size: 35px 20px;
				}
			}
			
		}
		
		p { text-indent: 45px; } // Width of mobile png + 10px.
		
		&.z_light {
			
			h6 a { background-image: url(../images/rg-70x40-dark.png); }
			
		}
		
	}
	
	@media print {
		
		& { display: none; }
		
	}
	
}
